<!-- main banner -->
<div id="banner">
  <div class="jumbotron jumbotron-welcome container-fluid text-center">
    <h1 class="coffeebreak">
      CoffeeBreak
    </h1>
    <p>
      Get your fix.
    </p>
    <!-- sign up button -->
    <%= link_to 'SIGN UP', new_user_registration_path, class: "button-hover", data: { text: "SIGN UP" } %>
    <!-- sign up button ends -->
  </div>
</div>
<!-- main banner ends -->

<!-- How It Works section begins -->
<div id="how-it-works-row" class="lander-row">
  <div class="container">
    <div class="row">
      <h3 class="text-center">
        HOW IT WORKS
      </h3>
      <br>
      <br>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="circle circle-number text-center">
          1
        </div>
        <br>
        <%= image_tag('gears.svg', class: "img-responsive how-it-works-phone")  %>
        <br>
        <p class="text-center">
          Sign up and create an order profile.
        </p>
      </div>
      <div class="col-md-4">
        <div class="circle circle-number text-center">2
        </div>
        <br>
        <%= image_tag('logo-coffee.png', class: "img-responsive how-it-works-phone")  %>
        <br>
        <p class="text-center">
          Push our magical coffee button!
        </p>
      </div>
      <div class="col-md-4">
        <div class="circle circle-number text-center">
          3
        </div>
        <br>
        <%= image_tag('logistics.png', class: "img-responsive how-it-works-phone")  %>
        <br>
        <p class="text-center">
          Your coffee shows up at your office, home, or event. You can even include tip!
        </p>
      </div>
    </div>
  </div>
</div>
<!-- How It Works section ends -->

<!-- bottom section begins -->
<div class="parallax-window" data-parallax="scroll" data-image-src="assets/welcome-note.jpg">
  <div class="quote-container">
    <br><br>
    <i class="pin"></i>
    <blockquote class="note yellow">
      "I <span class="red">love</span> to wait in line for my coffee!"
      <cite class="author">― No one <u>ever</u>.</cite>
    </blockquote>
  </div>
</div>
<!-- bottom section ends -->
