<div id="about-us-banner">
  <div class="jumbotron jumbotron-about-us container-fluid text-center">
    <div id="about-us-row" class="lander-row-2">
      <div class="container transparent-bg">
        <div class="row">
          <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
          width="420.5px" height="233px" viewBox="179.5 241.5 420.5 233" enable-background="new 179.5 241.5 420.5 233"
          xml:space="preserve">
            <defs>
              <style type="text/css">
                @import url(//fonts.googleapis.com/css?family=Cookie);
              </style>
            </defs>
            <text transform="matrix(1 0 0 1 352.1768 306.8721)" fill="#EEEEEE" font-family="Cookie" font-size="78.7493">The</text>
            <text transform="matrix(1 0 0 1 194.6333 393.2773)" fill="#EEEEEE" font-family="Cookie" font-size="214.4175">R</text>
            <text transform="matrix(1 0 0 1 319.8525 393.2773)" fill="#EEEEEE" font-family="Cookie" font-size="214.4175" letter-spacing="12">e</text>
            <text transform="matrix(1 0 0 1 395.542 393.2773)" fill="#EEEEEE" font-family="Cookie" font-size="162.8487">-</text>
            <text transform="matrix(1 0 0 1 441.1367 393.2773)" fill="#EEEEEE" font-family="Cookie" font-size="214.4175" letter-spacing="-1">u</text>
            <text transform="matrix(1 0 0 1 517.8965 393.2773)" fill="#EEEEEE" font-family="Cookie" font-size="214.4175">p</text>
            <text transform="matrix(1 0 0 1 330.3633 458.9023)" fill="#EEEEEE" font-family="Cookie" font-size="78.7493">Team</text>
          </svg>
          <br>
          <br>
        </div>

        <div class="row">
          <div class="col-md-6">
            <%= image_tag('josh.png', class: "img-responsive profile-img")  %>
            <br>
            <p class="text-center">
              Josh Echeverri
            </p>
          </div>
          <div class="col-md-6">
            <%= image_tag('max.png', class: "img-responsive profile-img")  %>
            <br>
            <p class="text-center">
              Max Rosario
            </p>
          </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="wyncode col-md-6">
      <div class="divider divider-top">
      </div>
    <div class="text-center description">
      <p>
      <br>
        The Re-Up Team is a duo of full-stack developers working out of The Lab in Wynwood, Miami, FL. The team is composed of two rockstars of code from Wyncode Academy's 5th Cohort with a wide-scope of technical and community experience.
      </p>
      <p>
        Please don't hesitate to contact us with any questions.
      </p>
      <br>
      <div class="divider bottom-buffer">
      </div>
      </div>
    </div>

    <div class="col-md-6 bottom-buffer">
      <%= render "contacts/form" %> <!-- renders contact form? -->
    </div>
  </div>
</div>
