<h1>Postmate#get_delivery</h1>
<p>Find me in app/views/postmate/get_delivery.html.erb</p>


<div class="container">
  <%= form_tag url_for(:controller => 'postmates', :action => 'get_delivery'), :method => 'post' do %>
  <%= submit_tag "Get Delivery", :action => 'get_delivery', :controller => 'postmates'%>
  <% end %>
</div>

<p>Result: <%= @result %></p>
