/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/
#home{
  margin-top: 40px;
  min-height: 94vh;
  overflow: hidden;
  position: relative;
}
.overflowin{
  overflow: hidden;
  position: relative;
}
.order-btn{
}
.visibleiphone5 {
  display:none;

}
.visibledesktop {
  display:display;
  max-width:100%;
  height:auto;
}

@media (max-width : 375px) {
  .visibleiphone5 {
    display:block;
    max-width:100%;
    height:auto;
  }
  .visibledesktop {
    display:none;
  }
}
