.reg-form {
  max-width: 300px;
}
.reg-body {
  padding-top: 10vw;
  color: #EEEEEE;
  min-height: 800px;
}
.signup {
  color: #fcfc95;
}
.form-align{
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.contact-body {
  color: #EEEEEE;
}
